@import url(../generales.css);

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.contenedor-logo {
  margin: auto 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.contenedor-logo img {
  width: 80px;
  height: 80px;
}

.contenedor-logo h2,
.eslogan {
  display: none;
}

.menu.perfil img {
  width: 50px;
  height: 50px;
}

.menu-toggle {
  display: none;
}

.menu-navegacion {
  position: static;
  margin: auto;
  padding: 0 10px;
  width: 75%;
  display: flex;
  flex-direction: initial;
  opacity: 1; /* corregido */
  background-color: transparent;
  transform: none;
  box-shadow: none;
}

.menu-navegacion ul {
  width: 100%;
  display: flex;
  justify-content: right;
  flex-direction: row;
  vertical-align: middle;
}

.menu-navegacion li {
  width: initial;
  margin: var(--espaciado-submenu);
}

.menu-navegacion a {
  text-decoration: none;
  color: var(--color-blanco);
}

.menu-navegacion a:hover {
  color: var(--color-hover);
  background-color: var(--color-blanco);
  border-radius: var(--radio-borde);
}

.menu:not(.perfil) .submenu {
  position: absolute;
  display: none;
  width: auto;
  box-shadow: none;
  overflow: hidden;
}

.menu:not(.perfil):hover .submenu {
  height: initial;
  display: flex;
  flex-direction: column;
  background-color: var(--color-principal);
  border-radius: var(--radio-borde);
  overflow: hidden;
}

.submenu {
  max-height: initial;
}

/* MENU */

.contenedor-calma {
  width: 100%;
  height: 500px;
}

.contenedor-calma img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
